#domain goes here
localhost:8000 {
    gzip
    log ./caddy_access.log
    root ./public/

    cors /.well-known/webfinger

    proxy /.well-known/webfinger localhost:3000 {
        transparent
    }

    proxy /api localhost:3000 {
        transparent
    }
    tls self_signed #remove
}

*.localhost:8000 {
    gzip
    log ./blog_access.log

    cors

    proxy / localhost:3000/blog {
        transparent
    }
    tls self_signed #remove
}

# http.rewrite
